.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
  margin-top: 10px;
  
  .title {
    color: var(--white-color);
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
