.form-upload {
  width: 450px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .input {
    padding: 12px 8px;
    font-size: 1.6rem;
  }

  .title-file-image {
    margin-bottom: 4px;
    color: var(--white-color);
    font-weight: 300;
    font-size: 1.6rem;
  }

  .input-file {
    padding: 12px 8px;
  }

  .btn-submit {
    width: 100%;
    background-color: var(--green-color);
    padding: 12px;
    border-radius: 999px;
    font-weight: 700;
    transition: transform .12s;

    &:active {
      transform: scale(.98);
    }
  }
}