.wrapper {
  height: var(--height-dashboard);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--width-margin);
  border-radius: 5px;
  background-color: #171717;
  padding: 16px 20px;

  .menu-item {
    display: flex;

    svg,
    .title {
      color: #a3a3a3;
      transition: all 0.3s;
    }

    svg {
      margin-right: 12px;
    }

    .title {
      font-size: 1.8rem;
      font-weight: 500;
    }

    + .menu-item {
      margin-top: 16px;
    }

    &:hover svg,
    &:hover .title {
      color: var(--white-color);
    }

    &.active svg,
    &.active .title {
      color: var(--green-color);
    }
  }
}
