.song-item {
  display: grid;
  grid-template-columns:
    [index] 28px
    [first] minmax(120px, 6fr)
    [var1] minmax(120px, 4fr)
    [var2] minmax(120px, 3fr)
    [last] minmax(120px, 1fr);
  align-items: center;
  padding: var(--padding-song-item-top-bottom) var(--padding-song-item-left-right);
  border-radius: 4px;
  cursor: default;

  .index {
    color: #a7a7a7;

    .icon-play {
      display: none;
    }
  }

  .info {
    display: flex;
    font-size: 1.2rem;

    .thumbnail {
      width: 42px;
      height: 42px;
      border-radius: 4px;
    }

    .column {
      line-height: 1.25;
      margin-left: 12px;

      .title {
        color: var(--white-color);
        font-size: 1.6rem;
      }

      .artist {
        font-size: 1.4rem;
        color: #a7a7a7;
      }
    }
  }

  .album,
  .extra-day,
  .more {
    color: #a7a7a7;
    font-size: 1.5rem;
  }

  .more {
    display: flex;
    align-items: center;
    justify-content: center;

    .liked {
      color: #bababa;
      visibility: hidden;
    }

    .duration {
      margin: 0 12px;
    }

    .options {
      position: relative;
      color: #bababa;
      font-size: 1.6rem;
      visibility: hidden;

      .menu-list-options {
        position: absolute;
        right: 100%;
        width: 100%;
        min-width: 250px;
        padding: 4px;
        background-color: #282828;
        border-radius: 4px;
        z-index: 100;

        .menu-item-options {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 6px;
          border-radius: 3px;

          .title {
            font-size: 1.6rem;
            margin-left: 8px;
          }

          &:hover {
            background-color: #3e3e3e;
          }
        }
      }
    }
  }

  &.active {
    .index,
    .info .title {
      color: var(--green-color);
    }
  }
  
  &.openmenu {
    background-color: #676263 !important;
  }

  &:hover {
    background-color: #2a2a2a;

    .index span {
      display: none;
    }

    .index .icon-play {
      display: block;
      color: var(--white-color);
      font-size: 1.4rem;
      cursor: pointer;
    }

    .column {
      .artist {
        color: var(--white-color);
      }
    }

    .album {
      color: var(--white-color);
    }

    .more {
      .liked {
        visibility: visible;
      }

      .options {
        visibility: visible;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  
}